.open-step {
    position: absolute;
    top: $header-height;
    left: 0px;
    right: 0px;
    height: auto;
    min-height: 100%;
    background-color: $standard-gray;
    .top-title {
        font-size: 20px;
        p {
            margin-right: 20px;
        }
    }
    .right {
        margin-left: 10px;
    }
    span.error {
        display: none;
        &.show {
            display: inline-block;
        }
    }
    .content {
        padding: 30px 50px 30px 50px;
        width: $page-width;
        background-color: #fff;
        margin: 20px auto 20px+$footer-height auto;
        height: 1150px;
        position: relative;
    }
    .progress-tip {
        position: absolute;
        right: 50px;
        top: 30px;
        font-size: 14px;
        .num {
            margin-left: 5px;
            font-size: 23px;
            color: $standard-green;
        }
    }
    .progress-toolbar {
        background-color: $standard-gray;
        width: 100%;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 35px;
        .item {
            position: relative;
            text-align: center;
            width: 33%;
            float: left;
            height: 100%;
            line-height: 50px;
            &.current {
                background-color: $standard-green;
                color: #fff;
            }
        }
        .angle-current {
            display: inline-block;
            position: absolute;
            width:0; 
            height:0;
            border: 25px solid; 
            right: -50px;
            border-color: transparent transparent transparent $standard-green;
        }
        .angle-default {
            display: inline-block;
            position: absolute;
            width:0; 
            height:0;
            border: 25px solid; 
            right: -50px;
            border-color: transparent transparent transparent #fff;
            z-index: 200;
            .child {
                position: absolute;
                display: inline-block;
                width:0; 
                height:0;
                right: -23px;
                top: -25px;
                border: 25px solid; 
                border-color: transparent transparent transparent $standard-gray;
            }
        }
    }
    .application-form {
        margin-left: 200px;
        .base-form {
            width: 820px;
            .tip {
                margin-right: 20px;
            }
            .item {
                margin-bottom: 20px;
            }
            .submit-btn {
                width: 200px;
                margin-left: 92px;
                height: 50px;
                line-height: 50px;
                text-align: center;
            }
        }
        .title {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 30px;
        }
        select, input[type=text] {
            width: 200px;
        }
        .submit-btn {
            width: 200px;
            margin-top: 30px;
            margin-left: 162px;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }
        .form {
            margin-left: 50px;
            margin-bottom: 40px;
            .item {
                margin-bottom: 10px;
                .item-title {
                    width: 130px;
                    text-align: right;
                    margin-right: 30px;
                }
            }
            .nameEn {
                width: 54px;
            }
            .address {
                width: 320px;
            }
            .sex-chose {
                display: inline-block;
                text-align: center;
                input {
                    margin: 0px 5px;
                }
            }
            .date-select {
                select {
                    margin-right: 5px;
                    width: 50px;
                    &.year {
                        width: 70px;
                    }
                }
            }
        }
        .protocol {
            margin-left: -100px;
        }
    }
    .witness-form {
        display: none;
        text-align: center;
        p {
            font-size: 15px;
        }
        .photo {
            width: 200px;
            height: 170px;
            margin: 0 auto;
            margin-bottom: 20px;
            margin-top: 30px;
            padding-top: 30px;
            border-radius: 3px;
            background-color: $standard-gray;
            .name {
                margin-top: 10px;
            }
        }
        .btn {
            width: 200px;
            line-height: 40px;
            height: 40px;
        }
    }
    .success {
        margin-left: 100px;
        position: absolute;
        top: 200px;
        bottom: 20px;
        .title {
            font-size: 15px;
            font-weight: bold;
            .tip {
                font-size: 20px;
                font-weight: normal;
                color: $standard-green;
            }
        }
        .block {
            width: 200px;
            height: 200px;
            border: 1px solid #e1e1e1;
            float: left;
            margin-right: 50px;
            padding-top: 30px;
            margin-top: 50px;
            text-align: center;
            i {
                display: block;
                margin: 0 auto;
            }
            .title {
                font-weight: normal;
                color: $standard-blue;
                width: 100%;
                margin-top: 10px;
            }
            .des {
                color: #888;
            }
        }
    }
}