.open-index {
    position: absolute;
    width: 100%;
    min-width: $page-width;
    .open-btn {
        width: 200px;
        background-color: $standard-orange;
        height: 40px;
        line-height: 40px;
    }
    .header {
        overflow: hidden;
        background-color: #29acc8;
        color: #fff;
        height: 320px;
        .content {
            position: relative;
            text-align: center;
            margin: 0px auto;
            padding: 30px 0px;
            width: $page-width;
            height: 100%;
            .title {
                font-size: 18px;
            }
            .form {
                position: absolute;
                bottom: 80px;
                left: 110px;
                .item-input {
                    width: 260px;
                    height: 35px;
                    margin-right: 30px;
                }
            }
            .icon-title-low-money {
                position: absolute;
                left: 250px;
                top: 50px;
            }
        }
    }
    .tabs {
        background-color: #2a6676;
        height: 50px;
        .content {
            margin: 0 auto;
            width: $page-width;
        }
        .tab {
            color: #fff;
            display: inline-block;
            width: 310px;
            text-align: center;
            line-height: 50px;
            font-size: 16px;
            cursor: pointer;
            &.current {
                background-color: #29acc8;
                cursor: default;
                @include opacity(1);
            }
        }
    }
    .part1 {
        background-color: #fff;
        height: 510px;
        padding-top: 40px;
        overflow: hidden;
        .content {
            margin: 0 auto;
            width: $page-width;
            height: 0px;
            overflow: hidden;
            .title {
                display: block;
                text-align: center;
                font-size: 20px;
            }
            &.current {
                height: auto;
            }
        }
        .compare {
            width: 720px;
            margin: 20px auto 50px auto;
            li {
                line-height: 40px;
                height: 40px;                
            }
            .item-title {
                font-size: 16px;
                width: 70px;
                text-align: right;
                margin-right: 20px;
            }
            .tip {
                color: #888;
                font-size: 12px;
                margin-left: 10px;
            }
            .money {
                width: 0px;
                height: 30px;
                vertical-align: middle;
                display: inline-block;
                background-color: #93cd99;
                &.money1 {
                    width: 3px;
                }
                &.money2 {
                    width: 100px;
                }
                &.money3 {
                    width: 500px;
                }
            }
        }
        .licence {
            text-align: center;
            .icon-licence {
                cursor: pointer;
            }
            p {
                width: 230px;
                color: #888;
                margin-top: 10px;
            }
        }
        .charge-form {
            width: 820px;
            margin-left: 80px;
            text-align: center;
            th, td {
                height: 50px;
                line-height: 50px;
                text-align: center;
                border: none;
            }
            tr {
                &:hover {
                    background-color: #f2f2f2;
                }
            }
            .table-header {
                background-color: #f2f2f2;
            }
            .strong {
                color: $standard-orange;
            }
        }
        .pk-form {
            width: 820px;
            margin-left: 80px;
            th, td {
                width: 280px;
                height: 80px;
                line-height: 40px;
                border: none;
            }
            tr {
                &:hover {
                    background-color: #f2f2f2;
                }
                th:last-child {
                    width: 270px;
                }
                th:first-child, td:first-child {
                    text-align: center;
                }
            }
            .table-header {
                background-color: #f2f2f2;
            }
            .strong {
                color: $standard-orange;
            }
        }
    }
    .part2 {
        background-color: #f2f2f2;
        height: 450px;
        .content {
            margin: 0 auto;
            width: $page-width;
            height: 100%;
            padding-top: 40px;
            position: relative;
            .title {
                display: block;
                text-align: center;
                font-size: 20px;
            }
            .list {
                position: absolute;
                left: 150px;
                bottom: 100px;
                width: 200px;
                .download-btn {
                    width: 200px;
                    background-color: #e8e8e8;
                    color: #acacac;
                    padding: 16px;
                    margin-top: 30px;
                    line-height: 30px;
                    height: 30px;
                    i {
                        margin-right: 6px;
                    }
                }
            }
            .icon-app-demo {
                position: absolute;
                left: 500px;
                bottom: 40px;
            }
        }
    }
    .part3 {
        text-align: center;
        height: 450px;
        background-color: #fff;
        .content {
            margin: 0 auto;
            width: $page-width;
            padding-top: 40px;
            position: relative;
            .title {
                display: block;
                text-align: center;
                font-size: 20px;
                margin-bottom: 6px;
            }
        }
        .step {
            .block {
                background-color: #f2f2f2;
                width: 130px;
                height: 130px;
                float: left;
                margin: 40px 0px 60px 90px;
                color: #888;
                position: relative;
                &:hover {
                    @include opacity(0.5);
                }
                i {
                    margin: 20px;
                }
                p {
                    position: absolute;
                    bottom: 20px;
                    left: 0px;
                    width: 100%;
                }
            }
        }
    }
    .licence-pic {
        width: 600px;
        margin-left: -160px;
    }
}